# Auth (per-agency, maps to NIBBLE_AUTH_* in docker-compose)
# NIBBLE_AUTH_TYPE: "none" (default) | "query_param" | "header" | "path"
#
# Query parameter:  NIBBLE_AUTH_TYPE=query_param  NIBBLE_AUTH_PARAM_NAME=apikey  NIBBLE_AUTH_SECRET=<key>
# Custom header:    NIBBLE_AUTH_TYPE=header        NIBBLE_AUTH_HEADER_NAME=X-API-Key  NIBBLE_AUTH_SECRET=<key>
# Path injection:   NIBBLE_AUTH_TYPE=path          NIBBLE_AUTH_SECRET=<key>
#                   NIBBLE_GTFS_RT_URL=https://example.com/api/{api_key}/vehicles
#
# Example (Trimet):
# TRIMET_GTFS_RT_URL=https://developer.trimet.org/ws/V1/vehicles/appid/{api_key}/vehicles
# TRIMET_AUTH_TYPE=path
# TRIMET_AUTH_SECRET=

# AWS credentials (shared across all agencies)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# S3 (shared across all agencies)
NIBBLE_S3_BUCKET=
NIBBLE_S3_REGION=us-east-1

# BAT (Brockton Area Transit Authority) - port 8080
BAT_GTFS_RT_URL=
BAT_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/brockton-ma-us/brockton-ma-us.zip

# BRTA (Berkshire Regional Transit Authority) - port 8081
BRTA_GTFS_RT_URL=https://brta.routematch.io/feed/vehicle/byRoutes/Wk%20Rt%2001%2CWk%20Rt%2002%2CWk%20Rt%2003%2CWk%20Rt%2004%2CRoute%205%20Loop%2CWk%20Rt%2011%2CWk%20Rt%2012%2CWk%20Rt%2014%2CWk%20Rt%2015%2CWk%20Rt%2021%2CRte%2034%2CRte%2021%20Express?templates%5B%5D=title&templates%5B%5D=body&title=%7B%40internalVehicleId%7D&body=Heading+%7B%40tripDirection%7D+on+%7B%40masterRouteLongName%7D&timeHorizon=30&timeSensitive=true&_=1773845791564
BRTA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/berkshire-ma-us/berkshire-ma-us.zip

# CATA (Cape Ann Transportation Authority) - port 8082
CATA_GTFS_RT_URL=
CATA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/capeann-ma-us/capeann-ma-us.zip

# CCRTA (Cape Cod Regional Transit Authority) - port 8083
CCRTA_GTFS_RT_URL=https://tracker.capecodrta.org/api/CCRTAFR_AVL
CCRTA_GTFS_STATIC_URL=https://data.trilliumtransit.com/gtfs/capecod-ma-us/capecod-ma-us.zip

# FRTA (Franklin Regional Transit Authority) - port 8084
FRTA_GTFS_RT_URL=2771
FRTA_GTFS_STATIC_URL=https://data.trilliumtransit.com/gtfs/frta-ma-us/frta-ma-us.zip

# GATRA (Greater Attleboro Taunton Regional Transit Authority) - port 8085
GATRA_GTFS_RT_URL=https://swiv.gatra.cadavl.com/SWIV/GATRA/proxy/restWS/topo/vehicules
GATRA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/gatra-ma-us/gatra-ma-us.zip

# LRTA (Lowell Regional Transit Authority) - port 8086
LRTA_GTFS_RT_URL=https://swiv.lrta.cadavl.com/SWIV/LRTA/proxy/restWS/topo/vehicules
LRTA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/lowell-ma-us/lowell-ma-us.zip

# MART (Montachusett Regional Transit Authority) - port 8087
MART_GTFS_RT_URL=2173
MART_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/montachusett-ma-us/montachusett-ma-us.zip

# MeVa (Merrimack Valley Regional Transit Authority) - port 8088
MEVA_GTFS_RT_URL=https://api.goswift.ly/real-time/massdot-mvrta/gtfs-rt-vehicle-positions
MEVA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/merrimackvalley-ma-us/merrimackvalley-ma-us.zip

# MWRTA (MetroWest Regional Transit Authority) - port 8089
MWRTA_GTFS_RT_URL=https://vc.mwrta.com/api/FR/0
MWRTA_GTFS_STATIC_URL=http://vc.mwrta.com/gtfs/google_transit.zip

# PVTA (Pioneer Valley Transit Authority) - port 8090
PVTA_GTFS_RT_URL=https://api.goswift.ly/real-time/pioneer-valley-pvta/gtfs-rt-vehicle-positions
PVTA_GTFS_STATIC_URL=https://www.pvta.com/g_trans/google_transit.zip
PVTA_GTFS_RT_API_KEY=

# VTA (Vineyard Transit Authority) - port 8091
# Full URL including patternIds query parameter
VTA_GTFS_RT_URL=https://vta.mytransitride.com/api/VehicleStatuses?patternIds=1394,1395,1396,1398,1399,1400,1420,1424,1401,1405,1432,1435,1408,1410,1412,1413,1416,1417,1438,1440,1442,1443,1445,1446,1459,1460,1456,1457,1447,1453,
VTA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/marthasvineyard-ma-us/marthasvineyard-ma-us.zip

# WRTA (Worcester Regional Transit Authority) - port 8092
WRTA_GTFS_RT_URL=https://swiv.wrta.cadavl.com/SWIV/WRTA/proxy/restWS/topo/vehicules
WRTA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/wrta-ma-us/wrta-ma-us.zip

# GCRTA (Greater Cleveland Regional Transit Authority) - port 8125
GCRTA_GTFS_RT_URL=http://gtfs.gcrta.org/TMGTFSRealTimeWebService/Vehicle/VehiclePositions.pb
GCRTA_GTFS_STATIC_URL=http://www.riderta.com/sites/default/files/gtfs/latest/google_transit.zip

# CTTransit (Connecticut Transit Hartford) - port 8093
CTTRANSIT_GTFS_RT_URL=https://cttprdtmgtfs.ctttrpcloud.com/TMGTFSRealTimeWebService/Vehicle/VehiclePositions.pb
CTTRANSIT_GTFS_STATIC_URL=https://ctrides.com/hlgtfs.zip

# ACE (Altamont Corridor Express) - port 8094
# 511 SF Bay API key: https://511.org/open-data/token
ACE_GTFS_RT_URL=https://api.511.org/Transit/VehiclePositions?agency=CE
ACE_GTFS_STATIC_URL=http://api.511.org/transit/datafeeds?operator_id=CE
ACE_AUTH_TYPE=query_param
ACE_AUTH_PARAM_NAME=api_key
ACE_AUTH_SECRET=

# Caltrain - port 8095
# 511 SF Bay API key: https://511.org/open-data/token
CALTRAIN_GTFS_RT_URL=https://api.511.org/Transit/VehiclePositions?agency=CT
CALTRAIN_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/caltrain-ca-us/caltrain-ca-us.zip
CALTRAIN_AUTH_TYPE=query_param
CALTRAIN_AUTH_PARAM_NAME=api_key
CALTRAIN_AUTH_SECRET=

# Capitol Corridor - port 8096
# 511 SF Bay API key: https://511.org/open-data/token
CAPITOL_CORRIDOR_GTFS_RT_URL=https://api.511.org/Transit/VehiclePositions?agency=AM
CAPITOL_CORRIDOR_GTFS_STATIC_URL=https://www.capitolcorridor.org/googletransit/GTFS.zip
CAPITOL_CORRIDOR_AUTH_TYPE=query_param
CAPITOL_CORRIDOR_AUTH_PARAM_NAME=api_key
CAPITOL_CORRIDOR_AUTH_SECRET=

# SMART (Sonoma-Marin Area Rail Transit) - port 8097
# 511 SF Bay API key: https://511.org/open-data/token
SMART_GTFS_RT_URL=https://api.511.org/Transit/VehiclePositions?agency=SA
SMART_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/smart-ca-us/smart-ca-us.zip
SMART_AUTH_TYPE=query_param
SMART_AUTH_PARAM_NAME=api_key
SMART_AUTH_SECRET=

# CapMetro Rail (Austin, TX) - port 8098
CAPMETRO_GTFS_RT_URL=https://data.texas.gov/download/eiei-9rpf/application/octet-stream
CAPMETRO_GTFS_STATIC_URL=https://data.texas.gov/download/r4v4-vz24/application/zip

# A-Train (DCTA - Denton County Transportation Authority) - port 8099
# Swiftly API key: https://goswift.ly/realtime-api-key
DCTA_GTFS_RT_URL=https://api.goswift.ly/real-time/dcta/gtfs-rt-vehicle-positions
DCTA_GTFS_STATIC_URL=http://trilliumtransit.com/transit_feeds/dentoncounty-tx-us/dentoncounty-tx-us.zip
DCTA_AUTH_TYPE=header
DCTA_AUTH_HEADER_NAME=Authorization
DCTA_AUTH_SECRET=

# Coaster (NCTD - North County Transit District) - port 8100
# Swiftly API key: https://goswift.ly/realtime-api-key
NCTD_GTFS_RT_URL=https://api.goswift.ly/real-time/nctd/gtfs-rt-vehicle-positions
NCTD_GTFS_STATIC_URL=
NCTD_AUTH_TYPE=header
NCTD_AUTH_HEADER_NAME=Authorization
NCTD_AUTH_SECRET=

# FrontRunner (UTA - Utah Transit Authority) - port 8101
UTA_GTFS_RT_URL=https://apps.rideuta.com/tms/gtfs/Vehicle
UTA_GTFS_STATIC_URL=https://gtfsfeed.rideuta.com/GTFS.zip

# MARC Train (Maryland) - port 8102
MARC_GTFS_RT_URL=https://mdotmta-gtfs-rt.s3.amazonaws.com/MARC+RT/marc-vp.pb
MARC_GTFS_STATIC_URL=

# Metra (Chicago) - port 8104
# API key: https://metra.com/metra-gtfs-api
METRA_GTFS_RT_URL=https://gtfspublic.metrarr.com/gtfs/public/positions
METRA_GTFS_STATIC_URL=https://schedules.metrarail.com/gtfs/schedule.zip
METRA_AUTH_TYPE=query_param
METRA_AUTH_PARAM_NAME=api_token
METRA_AUTH_SECRET=

# Metrolink (Southern California) - port 8105
# API key: https://metrolinktrains.com/about/gtfs/gtfs-rt-access/
METROLINK_GTFS_RT_URL=https://metrolink-gtfsrt.gbsdigital.us/feed/gtfsrt-vehicles
METROLINK_GTFS_STATIC_URL=
METROLINK_AUTH_TYPE=header
METROLINK_AUTH_HEADER_NAME=X-Api-Key
METROLINK_AUTH_SECRET=

# RTD Commuter Rail (Denver) - port 8106
RTD_GTFS_RT_URL=https://open-data.rtd-denver.com/files/gtfs-rt/rtd/VehiclePosition.pb
RTD_GTFS_STATIC_URL=https://www.rtd-denver.com/files/gtfs/google_transit.zip

# SEPTA Regional Rail (Philadelphia) - port 8107
SEPTA_GTFS_RT_URL=https://www3.septa.org/gtfsrt/septa-pa-us/Vehicle/rtVehiclePosition.pb
SEPTA_GTFS_STATIC_URL=

# Sounder (Sound Transit) - port 8108
# API key: email oba_api_key@soundtransit.org
SOUNDER_GTFS_RT_URL=http://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/40.pb
SOUNDER_GTFS_STATIC_URL=
SOUNDER_AUTH_TYPE=query_param
SOUNDER_AUTH_PARAM_NAME=key
SOUNDER_AUTH_SECRET=

# Tri-Rail (South Florida) - port 8109
TRIRAIL_GTFS_RT_URL=http://gtfsr.tri-rail.com/download.aspx?file=position_updates.pb
TRIRAIL_GTFS_STATIC_URL=http://www.tri-rail.com/GTDF/Current/google_transit.zip

# VRE (Virginia Railway Express) - port 8110
VRE_GTFS_RT_URL=https://gtfs.vre.org/containercdngtfsupload/VehiclePositionFeed
VRE_GTFS_STATIC_URL=https://gtfs.vre.org/containercdngtfsupload/google_transit.zip

# WeGo Star (Nashville RTA) - port 8111
WEGO_STAR_GTFS_RT_URL=http://transitdata.nashvillemta.org/TMGTFSRealTimeWebService/vehicle/vehiclepositions.pb
WEGO_STAR_GTFS_STATIC_URL=https://www.wegotransit.com/googleexport/google_transit.zip

# WES Commuter Rail (TriMet, Oregon) - port 8112
# API key: https://developer.trimet.org/appid/registration/
TRIMET_GTFS_RT_URL=https://developer.trimet.org/ws/V1/VehiclePositions
TRIMET_GTFS_STATIC_URL=http://developer.trimet.org/schedule/gtfs.zip
TRIMET_AUTH_TYPE=query_param
TRIMET_AUTH_PARAM_NAME=appID
TRIMET_AUTH_SECRET=

# Puget Sound OBA agencies (ports 8114-8124)
# API key: email oba_api_key@soundtransit.org (shared by all agencies below)
OBA_PUGET_SOUND_API_KEY=

# King County Metro - port 8114
KING_COUNTY_METRO_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/1.pb
KING_COUNTY_METRO_GTFS_STATIC_URL=https://www.soundtransit.org/GTFS-KCM/google_transit.zip

# Seattle Streetcar - port 8115
SEATTLE_STREETCAR_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/23.pb
SEATTLE_STREETCAR_GTFS_STATIC_URL=

# Pierce Transit - port 8116
PIERCE_TRANSIT_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/3.pb
PIERCE_TRANSIT_GTFS_STATIC_URL=https://www.soundtransit.org/GTFS-PT/gtfs.zip

# Community Transit - port 8117
COMMUNITY_TRANSIT_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/29.pb
COMMUNITY_TRANSIT_GTFS_STATIC_URL=https://www.soundtransit.org/GTFS-CT/current.zip

# Intercity Transit - port 8118
INTERCITY_TRANSIT_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/19.pb
INTERCITY_TRANSIT_GTFS_STATIC_URL=https://gtfs.sound.obaweb.org/prod/19_gtfs.zip

# Washington State Ferries - port 8119
WSF_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/95.pb
WSF_GTFS_STATIC_URL=https://gtfs.sound.obaweb.org/prod/95_gtfs.zip

# Amtrak (WA routes via OBA) - port 8120
AMTRAK_WA_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/51.pb
AMTRAK_WA_GTFS_STATIC_URL=

# Sound Transit (all modes: Link, ST Express, Sounder) - port 8121
# Note: nibble-sounder (port 8108) uses this same OBA agency ID (40) for Sounder commuter rail only
SOUND_TRANSIT_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/40.pb
SOUND_TRANSIT_GTFS_STATIC_URL=https://www.soundtransit.org/GTFS-rail/40_gtfs.zip

# Seattle Center Monorail - port 8122
SEATTLE_MONORAIL_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/96.pb
SEATTLE_MONORAIL_GTFS_STATIC_URL=https://gtfs.sound.obaweb.org/prod/96_gtfs.zip

# Everett Transit - port 8123
EVERETT_TRANSIT_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/97.pb
EVERETT_TRANSIT_GTFS_STATIC_URL=https://gtfs.sound.obaweb.org/prod/97_gtfs.zip

# Kitsap Transit - port 8124
KITSAP_TRANSIT_GTFS_RT_URL=https://api.pugetsound.onebusaway.org/api/gtfs_realtime/vehicle-positions-for-agency/20.pb
KITSAP_TRANSIT_GTFS_STATIC_URL=https://gtfs.sound.obaweb.org/prod/20_gtfs.zip

# NYC Subway (MTA NYCT) - ports 8126-8133
# No API key required. All 8 feeds share one static GTFS.
# LIRR and Metro-North are excluded (no vehicle position feed published).
NYCT_GTFS_STATIC_URL=https://rrgtfsfeeds.s3.amazonaws.com/gtfs_subway.zip
NYCT_ACE_GTFS_RT_URL=https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/nyct%2Fgtfs-ace
NYCT_BDFM_GTFS_RT_URL=https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/nyct%2Fgtfs-bdfm
NYCT_G_GTFS_RT_URL=https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/nyct%2Fgtfs-g
NYCT_JZ_GTFS_RT_URL=https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/nyct%2Fgtfs-jz
NYCT_NQRW_GTFS_RT_URL=https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/nyct%2Fgtfs-nqrw
NYCT_L_GTFS_RT_URL=https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/nyct%2Fgtfs-l
NYCT_1234567S_GTFS_RT_URL=https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/nyct%2Fgtfs
NYCT_SIR_GTFS_RT_URL=https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/nyct%2Fgtfs-si
