# AWS credentials (shared across all agencies)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# S3 (shared across all agencies)
NIBBLE_S3_BUCKET=
NIBBLE_S3_REGION=us-east-1

# BAT (Brockton Area Transit Authority) - port 8080
BAT_GTFS_RT_URL=
BAT_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/brockton-ma-us/brockton-ma-us.zip

# BRTA (Berkshire Regional Transit Authority) - port 8081
BRTA_GTFS_RT_URL=https://brta.routematch.io/feed/vehicle/byRoutes/Wk%20Rt%2001%2CWk%20Rt%2002%2CWk%20Rt%2003%2CWk%20Rt%2004%2CRoute%205%20Loop%2CWk%20Rt%2011%2CWk%20Rt%2012%2CWk%20Rt%2014%2CWk%20Rt%2015%2CWk%20Rt%2021%2CRte%2034%2CRte%2021%20Express?templates%5B%5D=title&templates%5B%5D=body&title=%7B%40internalVehicleId%7D&body=Heading+%7B%40tripDirection%7D+on+%7B%40masterRouteLongName%7D&timeHorizon=30&timeSensitive=true&_=1773845791564
BRTA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/berkshire-ma-us/berkshire-ma-us.zip

# CATA (Cape Ann Transportation Authority) - port 8082
CATA_GTFS_RT_URL=
CATA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/capeann-ma-us/capeann-ma-us.zip

# CCRTA (Cape Cod Regional Transit Authority) - port 8083
CCRTA_GTFS_RT_URL=https://tracker.capecodrta.org/api/CCRTAFR_AVL
CCRTA_GTFS_STATIC_URL=https://data.trilliumtransit.com/gtfs/capecod-ma-us/capecod-ma-us.zip

# FRTA (Franklin Regional Transit Authority) - port 8084
FRTA_GTFS_RT_URL=2771
FRTA_GTFS_STATIC_URL=https://data.trilliumtransit.com/gtfs/frta-ma-us/frta-ma-us.zip

# GATRA (Greater Attleboro Taunton Regional Transit Authority) - port 8085
GATRA_GTFS_RT_URL=https://swiv.gatra.cadavl.com/SWIV/GATRA/proxy/restWS/topo/vehicules
GATRA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/gatra-ma-us/gatra-ma-us.zip

# LRTA (Lowell Regional Transit Authority) - port 8086
LRTA_GTFS_RT_URL=https://swiv.lrta.cadavl.com/SWIV/LRTA/proxy/restWS/topo/vehicules
LRTA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/lowell-ma-us/lowell-ma-us.zip

# MART (Montachusett Regional Transit Authority) - port 8087
MART_GTFS_RT_URL=2173
MART_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/montachusett-ma-us/montachusett-ma-us.zip

# MeVa (Merrimack Valley Regional Transit Authority) - port 8088
MEVA_GTFS_RT_URL=https://api.goswift.ly/real-time/massdot-mvrta/gtfs-rt-vehicle-positions
MEVA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/merrimackvalley-ma-us/merrimackvalley-ma-us.zip

# MWRTA (MetroWest Regional Transit Authority) - port 8089
MWRTA_GTFS_RT_URL=https://vc.mwrta.com/api/FR/0
MWRTA_GTFS_STATIC_URL=http://vc.mwrta.com/gtfs/google_transit.zip

# PVTA (Pioneer Valley Transit Authority) - port 8090
PVTA_GTFS_RT_URL=https://api.goswift.ly/real-time/pioneer-valley-pvta/gtfs-rt-vehicle-positions
PVTA_GTFS_STATIC_URL=https://www.pvta.com/g_trans/google_transit.zip

# VTA (Vineyard Transit Authority) - port 8091
# Full URL including patternIds query parameter
VTA_GTFS_RT_URL=https://vta.mytransitride.com/api/VehicleStatuses?patternIds=1394,1395,1396,1398,1399,1400,1420,1424,1401,1405,1432,1435,1408,1410,1412,1413,1416,1417,1438,1440,1442,1443,1445,1446,1459,1460,1456,1457,1447,1453,
VTA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/marthasvineyard-ma-us/marthasvineyard-ma-us.zip

# WRTA (Worcester Regional Transit Authority) - port 8092
WRTA_GTFS_RT_URL=https://swiv.wrta.cadavl.com/SWIV/WRTA/proxy/restWS/topo/vehicules
WRTA_GTFS_STATIC_URL=http://data.trilliumtransit.com/gtfs/wrta-ma-us/wrta-ma-us.zip
